.filter-form {
  border-bottom: 0.1rem solid #efefef;
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
  .select-style-1 .select-position select{
    padding: 0.5rem 0rem;
    
}

.select-style-1{
    margin-bottom: 0;
}



  .form-control {
    padding: 0.25rem 0.5rem !important;
  }
  .main-btn{
      padding: 0.1rem 1rem;
  }

  
  
  
}
