<div class="ChatWindow" [ngClass]="chatbotVisibility ? 'visible': 'hidden'">
    <div class="chat-header text-end">
    <span (click)="setChatboxVisibility(false)" class="pointer"><i class="lni lni-close"></i>  </span>
  </div>
  <div class="p-3">

    <ng-container *ngFor="let chat of chatHistory">
      <div class="ChatItem ChatItem{{chat.chat_css_class}}" *ngIf="chat.chat_user_name === 'Bot' else chatExpert">
        <div class="ChatItem-meta">
          <div class="ChatItem-avatar">
            <img class="ChatItem-avatarImage" src="assets/images/robot.png">
          </div>
        </div>
        <div class="ChatItem-chatContent">
          <div class="ChatItem-chatText">{{chat.chat_message}}</div>
          <div class="ChatItem-timeStamp"><strong>{{chat.chat_user_name}}</strong> {{chat.chat_date_time | date : 'medium'}}</div>
        </div>
      </div>

      <ng-template #chatExpert>
        <div class="ChatItem ChatItem{{chat.chat_css_class}}">
          <div class="ChatItem-meta">
            <div class="ChatItem-avatar">
              <img class="ChatItem-avatarImage" src="assets/images/user.png">
            </div>
          </div>
          <div class="ChatItem-chatContent">
            <div class="ChatItem-chatText">{{chat.chat_message}}</div>
            <div class="ChatItem-timeStamp"><strong>{{chat.chat_user_name}}</strong> {{chat.chat_date_time | date : 'medium'}}</div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  

  
    
   
    
  
   
  <div class="ChatInput is-hidey">
      <input 
      type="text" 
      class="ChatInput-input" 
      contenteditable="true" 
      placeholder="Type your message here..."
      [(ngModel)]="chatMessage">

      <span 
      class="send-icon pointer" 
      (click)="addChatResponse()"><i class="lni lni-angle-double-right"></i></span> 
  </div>
  </div>
 
</div>

<a class="option-btn" 
[ngClass]="!chatbotVisibility ? 'visible': 'hidden'"
(click)="setChatboxVisibility(true)">
  <img src="assets/images/robot.png">
</a>


