
 <aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
      <a href="index.html">
        <img src="assets/images/logo/govt.png" alt="logo" />
      </a>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li 
        *ngFor="let route of routerLinks" 
        class="nav-item {{route.childs ? 'nav-item-has-children' :''}}"
        >
        <!--[class.active]="isActive(route.routerLink)"-->

        <ng-container *ngIf="!route.childs else childLink">
          <a [routerLink]="route.routerLink">
            <span class="icon"><i [class]="route.routerIcon"></i></span>
            <span class="text">{{route.routerText}}</span>
          </a> 
        </ng-container>

     
        
        <ng-template #childLink>
          <a
          class="collapsed"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#'+ route.id"
          [attr.aria-controls]="route.id"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="icon"><i [class]="route.routerIcon"></i></span>
          <span class="text">{{route.routerText}}</span>
        </a>
        <ul id="{{route.id}}" class="collapse dropdown-nav">
          <li *ngFor="let child of route.childs">
            <a [routerLink]="child.routerLink">
              <i [class]="child.routerIcon"></i> {{child.routerText}}
            </a>
          </li>
          
      
        </ul>
        </ng-template>

        </li>
      </ul>

      
    </nav>
  </aside>
  <div class="overlay"></div>
