:host ::ng-deep{
    .navbar-logo{
        //border-bottom: 1px solid;
        img{
            width: 200px;
        }
        
    }
    .sidebar-nav-wrapper .sidebar-nav ul .nav-item
    {
        cursor: pointer;
    }
}