

 <!-- ========== section start ========== -->
 <section class="section">
    <div class="container-fluid p-3">
      <!-- ========== title-wrapper start ========== -->
    
      <div class="row">
      
        <!-- End Col -->
        <div class="col-lg-12">
          <div class="card-style mb-30">
            <quill-editor [modules]="quillConfig"></quill-editor>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->