 <!-- ========== section start ========== -->
 <section class="section">
    <div class="container-fluid p-3">
      <!-- ========== title-wrapper start ========== -->
    
      <div class="row" *ngIf="samplatList" >
      
        <!-- End Col -->
        <div class="col-lg-12">
          <div class="card-style mb-30">
            <form class="filter-form">
            <div class="row">
           
              <div class="col-10 text-right">
               
                  <div class="row">
                    <div class="col-3">
                    <div class="from-group">
                    
                      <input class="form-control" placeholder="First Name">
                    </div>
                    </div>
                    <div class="col-3">
                      <div class="from-group">
                    
                        <input class="form-control" placeholder="Last Name">
                      </div>
                      
                    </div>
                    <div class="col-3">
                      <div class="from-group">
                    
                        <input class="form-control" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-3">
                      <input type="button" class="main-btn primary-btn btn-hover" value="Filter">
                    </div>
                  </div>
              
              
              </div>
              <div class="col-2 select-style-1">
                <div class="select-position">
                  <select class="form-control">
                    
                    <option value="">Show 10 Entries</option>
                    <option value="">Show 50 Entries</option>
                    <option value="">Show 100 Entries</option>
                  </select>
                </div>
              
                <input 
                type="button" 
                class="main-btn primary-btn btn-hover" 
                value="export to excel"
                (click)="onExportToExcelClick()">
              
              </div>
            </div>
          </form>
           <div class="row">
             <div class="col-3"></div>
           </div>
            <div class="table-responsive" >
              <table class="table top-selling-table" id="sample-list">
                <thead>
                  <tr>
                    <th>
                      <h6 class="text-sm text-medium">S No</h6>
                    </th>
                    <th>
                      <h6 class="text-sm text-medium">Avatar</h6>
                    </th>
                    <th class="min-width">
                      <h6 class="text-sm text-medium">
                        First Name <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                    <th class="min-width">
                      <h6 class="text-sm text-medium">
                        Last Name <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                    <th class="min-width">
                      <h6 class="text-sm text-medium">
                        Email <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                    <th>
                      <h6 class="text-sm text-medium text-end">
                        Actions <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of samplatList.data">
                    <td>
                      <p class="text-sm">{{data.id}}</p>
                    </td>
                    <td>
                      <div class="image">
                        
                      <img [src]="data.avatar">
                      </div>
                    </td>
                    <td>
                      <p class="text-sm">{{data.first_name}}</p>
                    </td>
                    <td>
                      <p class="text-sm">{{data.last_name}}</p>
                    </td>
                    <td>
                      <span class="status-btn close-btn">{{data.email}}</span>
                    </td>
                    <td>
                      <div class="action justify-content-end">
                        <button class="edit">
                          <i class="lni lni-pencil"></i>
                        </button>
                        <button
                          class="more-btn ml-10 dropdown-toggle"
                          id="moreAction1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="lni lni-more-alt"></i>
                        </button>
                        <ul
                          class="dropdown-menu dropdown-menu-end"
                          aria-labelledby="moreAction1"
                        >
                          <li class="dropdown-item">
                            <a href="#0" class="text-gray">Remove</a>
                          </li>
                          <li class="dropdown-item">
                            <a href="#0" class="text-gray">Edit</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                 
                
                </tbody>
              </table>
              <!-- End Table -->
              <div class="text-right">
                <hr>
                <pagination 
                class="float-end"
                [totalItems]="samplatList.total"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;"></pagination>
              </div>                           
               <!-- <app-paging [TotalPage]="samplatList.total_pages"></app-paging> -->
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->